body {
    background-color: #282c34;
    color: white;
    text-align: center;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.title {
    text-transform: uppercase;
}

.d-flex {
    display: flex;
}

.form-wrap {
    display: flex;
    justify-content: center;
}

.form {
    width: 300px;
    text-align: center;
}

.form_input {
    width: 200px;
    padding: 5px;
    margin: 5px 0;
    font-size: 20px;
    background-color: #333944;
    border: 1px solid #61dafb;
    color: #fff;
}

label {
    text-transform: uppercase;
    font-size: 20px;
}


.btn {
    color: #fff;
    background-color: #4fb7d4;
    padding: 5px;
    border: 1px solid #61dafb;
    text-transform: uppercase;
    font-weight: bold;
}

.btn-create {
    padding: 9px;
    margin-top: 5px;
}

.btn-remove {
    background: #d44e4e;
    white-space: nowrap;
}

.btn-add {
    background: #1f522f;
}

.table {
    margin: 1rem 0;
}

.table-w100 {
    width: 100%
}

.table td {
    border: 1px solid #61dafb;
    padding: .75rem;
    vertical-align: top;
}

.table-matrix tbody td:hover {
    background-color: #21505d;
}

.table .td-btn {
    padding: 0 .75rem;
    vertical-align: middle;
}

.td-value {
    position: relative;
}

.td-line {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    background: #574fd4;
    height: 100%;
}

.td-number {
    position: relative;
}

.closest {
    background: #d44e4e;
}

button[disabled] {
    opacity: .3;
}


